<ul class="nav nav-sidebar">
  <li class="active"><a href="{{ site.baseurl }}/">Overview</a></li>
  <li><a href="{{ site.baseurl }}/priming-query">Basic Query Priming</a></li>
  <li><a href="{{ site.baseurl }}/priming-collections">Priming Collections</a></li>
  <li><a href="{{ site.baseurl }}/priming-ps">Basic Prepared Statement Priming</a></li>
  <li><a href="{{ site.baseurl }}/priming-delays">Priming Delays</a></li>
  <li><a href="{{ site.baseurl }}/column-types">Column Types</a></li>
  <li><a href="{{ site.baseurl }}/activity">Recorded Activity</a></li>
  <li><a href="{{ site.baseurl }}/hamcrest-matchers">Hamcrest Matchers</a></li>
  <li><a href="{{ site.baseurl }}/troubleshooting">Troubleshooting</a></li>
</ul>